/*                                              By:
                                                    Omar Ekfeky_______ ID(609)
                                                    Omar Aziz_________ ID(474)
                                                    Muhammed Hassan___ ID(614) */

/* Omar Elfeky Starts Here//id: 609  */

* {
    margin: 0;
    padding: 0;
}
.sec1 .img1{
    position:relative;
    width:100%;
    height:660px;
}
.first{
    position:absolute;
    top:0px;
}
.sec1 .images_1{
    position:absolute;
    top:50px;
    right: 0px;
    left: 1300px;
}
.land{
    position:absolute;
    top: 15px;
}
.sec1 .images_1 .man {
        position:absolute;
        top:60px;
        right:212px;
 }
.sec1 .images_1 .cloud {
        position: absolute;
        top: 355px;
        right: 205px;
 }

 .cloud-2{
    position: absolute;
    top: 450px;
    right: 235px;
    z-index: 4;
    transform: scaleY(-1);
    rotate: 10deg;
 }
 .cloud-3{
    position: absolute;
    top: 480px;
    right: 290px;
    z-index: 5;
    transform: scaleY(-1);
    rotate: 15deg;
 }
 .cloud-4{
    position: absolute;
    top: 490px;
    right: 360px;
    z-index: 5;
    transform: scaleY(-1);
    
 }
 .cloud-5{
    position: absolute;
    top: 470px;
    right: 290px;
    z-index: 5;
    rotate: -5deg;
    transform: scaleY(-1);
 }
 .cloud-6{
    position: absolute;
    top: 467px;
    right: 170px;
    z-index: 5;
    rotate: -5deg;
    transform: scaleY(-1);
 }

.sec1 .images_1 .waves {
        position: absolute;
        top: 425px;
        right: 320px;
        z-index: 3;
        rotate: -1deg;
 }
.sec1 .hh{
    font-family: 'Nunito', sans-serif;
    font-size:58px;
    color:#00000084;
    position:absolute;
    top:220px;
    left:120px;
}
.sec1 .hh p {
        font-family: 'Nunito', sans-serif;
        color: #000000;
        font-size:43px;
        opacity:0.7;
        margin-top:15px;
        margin-left:5px;
 }
 .sec1 .hh .span1{
     color:#4d1f56be;
 }
    
.left_side{
    display:flex;

}
.sec1 .left_side img{
    position:relative;
    top:0px;
    left:20px;
}
.sec1 .left_side .nav1 a {
    text-decoration: none;
    color: #6e6e6e;
    font-family: 'Nunito', sans-serif;
    font-size:30px;
    padding: 0 15px;
    font-weight:700;
    position: relative;
    left:30px;
    top:50px;
    text-transform: capitalize;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    opacity:0.7;
}
.sec1 .left_side .nav1 a::before {
        content: '';
        position: absolute;
        left: 0;
        height: 2px;
        background-color:#750082;
        width: 0;
        bottom: -7px;
        transition: 0.3s;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
 }
.sec1 .left_side .nav1 a:hover::before {
        width:100%;
 }
.sec1 .right_side form .input1{
    position:absolute;
    left: 1700px;
    top:40px;
    background-color:#ffffff;
    border-radius:25px;
    border-color:#ffffff00;
    padding-left:25px;
    padding-right:25px;
    padding-top:0px;
    padding-bottom:0px;
    color:#750082;
    font-weight: 600;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    opacity:0.6;
}

/* Omar Elfeky Ends Here//id: 609   */
/* --------------------------------------------------------------- */

/* Omar Aziz Starts Here//id: 474   */
.background-img-222{
            position: relative;
            left: 380px;
            top: 15px;
            opacity: .7;
}

.images-222-1{
                position: absolute;
                left: 132px;
                top: 598px;
}
.h1-222-1{
          font-family: 'Nunito', sans-serif;
          color: #000000;
          font-size:  27px;
          opacity:0.6;
          position: absolute;
          top: 705px;
          left: 130px;
}

.h1-222-1-p{
           font-family: 'Nunito', sans-serif;
           color: #000000;
           font-size:25.1px;
           position: absolute;
           top: 755px;
           left: 35px;
           opacity:0.6;
}

.images-222-2{
                position: absolute;
                top: 890px;
                left: 665px;
}

.h1-222-2{
            font-family: 'Nunito', sans-serif;
            color: #000000;
            font-size:27px;
            opacity:0.6;
            position: absolute;
            top: 780px;
            left: 520px;
}

.h1-222-2-p{
            font-family: 'Nunito', sans-serif;
            color: #000000;
            font-size:24.5px;
            position: absolute;
            top:829px;
            left: 380px;
            opacity:0.6;
}

.images-222-3{
                position: absolute;
                top: 877px;
                left: 645px;
}

.h1-222-3{
            font-family: 'Nunito', sans-serif;
            color: #000000;
            font-size:27px;
            opacity:0.6;
            position: absolute;
            top: 1025px;
            left: 730px;
}

.h1-222-3-p{
            font-family: 'Nunito', sans-serif;
            color: #000000;
            opacity:0.7;
            font-size:24.5px;
            position: absolute;
            top:1070px;
            left: 532px;
}

.images-222-4{
                    position: absolute;
                    top: 890px;
                    left: 95px;
}

.h5-222-4{
           position: absolute;
           top: 955px;
           left: 150px;
           font-family: 'Nunito', sans-serif;
           font-size: 18px;
           color: white;
           opacity: .9;
}

.h5-222-4-p{
    position: absolute;
    font-family: 'Nunito', sans-serif;
    font-size: 50px;
    top: 970px;
    left: 150px;
    color: white;
    opacity: .9;
}
                /* Omar Aziz Ends Here//id: 474 */
/* -------------------------------------------------------------------------------- */
                /* Muhammed Hassan Starts Here //id: 614 */
.sec-3{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50vh;
        margin-top: 150px;
}


 
 .h1-fotter-1{
    font-size: 31px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    opacity: .7;
    margin-bottom: 25px;
    text-align: center;
 }
 .p-fotter-1{
    font-size:24.5px;
    font-family: 'Nunito', sans-serif;
    opacity: .7;
    text-align: center;
 }
 
 
.fotter-background{
    position: relative;  
    background-size: cover;
    top: 5px;
    
}

.fotter-img{
    position: absolute;
    left: 880px;
    top: 2810px;
}
.btn1-div-fotter{
    width:100px;
    border:2px solid rgb(255, 255, 255);
    position: absolute;
    border-radius: 15px;
    left: 90px;
    background-color: #ffffff;
    padding-left: 10px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 5px;
    display: flex;
    width: 180px;
    height: 85px;
}
.p-btn{
    font-size: 20px;
    padding-left: 10px;
    font-weight:500;
    font-family: 'Nunito', sans-serif;
}
.icon-store{
 width: 50px;
 
}
.play-store{
    width:100px;
    border:2px solid rgb(255, 255, 255);
    position: absolute;
    border-radius: 15px;
    left: 220px;
    background-color: #ffffff;
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
    display: flex;
    width: 180px;
    height: 85px;
    margin-left: 80px;
}

.p-play{
    font-size: 20px;
    padding-left: 10px;
    font-weight:500;
    font-family: 'Nunito', sans-serif;
}

.download{
    font-size: 15px;
    padding-left: 10px;
    font-weight:500;
    font-family: 'Nunito', sans-serif;
}
.play-store-icon{
    width: 50px;
    margin-top: 5px;
}

.social-icons{
                
                width: 200px;
                justify-content: space-between;
                position: absolute;
                top: 3280px;
                left: 160px;
}

.footer-links{
                position: absolute;
                top: 3090px;
                left: 115px;        
}

.footer-nav a{
    text-decoration: none;
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
    font-size:27px;
    padding: 0 15px;
    font-weight:700;
    position: relative;
    left:30px;
    top:50px;
    text-transform: capitalize;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    
}

.footer-nav a::before {
    content: '';
    position: absolute;
    left: 0;
    height: 2px;
    background-color:#750082;
    width: 0;
    bottom: -7px;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
}
.footer-nav a:hover::before {
    width:100%;
}

        /* Muhammed Hassan Starts Here //id: 614 */
/* ---------------------------------------------------------------------- */
                            /* 
                                    By:
                                        Omar Ekfeky-------ID(609)
                                        Omar Aziz---------ID(474)
                                        Muhammed Hassan---ID(614)
                                

                            */